<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gallery">


<delete id="delete" parameterType="int">
	DELETE FROM board_gallery WHERE num = #{num}
</delete>

<select id="getData" parameterType="int" resultType="GalleryDto">
	SELECT num,writer,caption,imagePath,regdate from board_gallery WHERE num=#{num}
</select>

<insert id="insert" parameterType="GalleryDto">
	INSERT INTO board_gallery (num,writer,caption,imagePath,regdate)
    VALUES (board_gallery_seq.NEXTVAL,#{writer},#{caption},#{imagePath},SYSDATE)
</insert>

<select id="getList" resultType="GalleryDto">
	SELECT num,writer,caption,imagePath,regdate FROM board_gallery
</select>


</mapper>